<ul class="navbar-nav flex-grow-1">
    <li>@Html.ActionLink("View Products", "Index", "Product", new { area = "" }, new { @class = "nav-link" })</li>
    <li>@Html.ActionLink("Login", "Login", "User", new { area = "" }, new { @class = "nav-link" })</li>
   
</ul>
